.heading-line::before {
  content: "";
  width: 10rem;
  height: 0.1rem;
  display: block;
  margin: 0 auto;
  background-color: rgb(0, 168, 232);
}

.heading-line::after {
  content: "";
  width: 2rem;
  height: 0.4rem;
  display: block;
  margin: 0 auto;
  background-color: rgb(0, 168, 232);
}

.paragraph {
  text-align: justify;
}

.heading {
  color: rgb(0, 52, 89);
}

.bookpage-image {
  width: 40%;
  height: 80vh;
  object-fit: cover;
}

/* @media only screen and (width: 390px) {
  .bookpage-image {
    width: 100% !important;
    height: 45vh !important;
    object-fit: cover !important;
  }
} */