@font-face {
  font-family: "Marhey";
  src: url("/public/assets/fonts/Marhey/Marhey-VariableFont_wght.ttf");
}

.my-header {
    color: rgb(0, 52, 89) !important;
}

.heading-line::before {
  content: "";
  width: 10rem;
  height: 0.1rem;
  display: block;
  margin: 0 auto;
  background-color: rgb(0, 168, 232);
}

.heading-line::after {
  content: "";
  width: 2rem;
  height: 0.4rem;
  display: block;
  margin: 0 auto;
  background-color: rgb(0, 168, 232);
}

.article-card {
  height: 45vh !important;
  /* background-image: linear-gradient(to right, rgb(0, 168, 232), rgb(0, 52, 89)); */
  background-color: rgb(0, 117, 163) !important;
  color: white !important;
  box-shadow: 2px 2px 2px gray;
  font-family: "Gulzar";
  text-align: center;
}

.card-title {
    text-align: center;
    font-size: 1.1rem !important;
    font-family: "Marhey";
    color: black !important;
}

/* Overlay section */
.article-overlay {
  padding-top: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2f2e2e;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  height: 100%;
  opacity: 0.9;
  border-radius: 4px;
}

.article-overlay:hover {
  background-color: rgb(82, 87, 87);
  cursor: pointer;
}

.icons {
  display: block;
  position: relative;
  margin-top: 50vh !important;
}

.myCol-article {
  width: 30%;
}

.my-title {
  color: rgb(196, 199, 199);
  font-weight: bold;
}

.article-title {
  font-weight: bold;
  color: rgb(212, 208, 208);
}

/* iPhone 12 Pro */
@media only screen and (max-width: 390px) {
  .myCol-article {
    margin-top: -10px !important;
  }

  .more-text {
    margin-top: 0px !important;
    font-size: 20px;
  }
}

/* iPad Mini */
@media only screen and (max-width: 768px) {
  .myCol-article {
    margin-top: -120px !important;
  }

  .more-text {
    margin-top: -100px !important;
    font-size: 20px;
  }
}


/* iPad Pro */
@media only screen and (max-width: 1024px) {
  .article-card {
    height: 26vh !important;
  }

  .myCol-article {
    margin-top: 50px !important;
  }
}

/* Surface Pro 7 */
@media only screen and (max-width: 912px) {
  .myCol-article {
    margin-top: -150px !important;
  }

  .more-text {
    margin-top: -140px !important;
    font-size: 25px;
  }
}

/* Surface Duo */
@media only screen and (max-width: 540px) {
  /* .myCol-article {
    margin-top: 0px !important;
  }

  .more-text {
    margin-top: 0px !important;
    font-size: 25px;
  }

  .article-overlay {
    padding-top: 10%;
  } */
}

/* Galaxy Fold */
@media only screen and (max-width: 280px) {
  .myCol-article {
    margin-top: 55px !important;
  }

  .more-text {
    margin-top: 0px !important;
    font-size: 20px;
  }

  .article-card {
    font-size: 10px !important;
    height: 35vh !important;
  }
}

/* Nest Hub */
@media only screen and (max-width: 1024px) {
  .myCol-article {
    margin-top: 55px !important;
  }

  .more-text {
    margin-top: 0px !important;
    font-size: 20px;
  }

  .myCol-article {
    margin-top: 0px !important;
  }

  .article-card {
    font-size: 14px !important;
    height: 40vh !important;
  }
}