/* Line under the title styles */
.heading-line::before {
  content: "";
  width: 10rem;
  height: 0.1rem;
  display: block;
  margin: 0 auto;
  background-color: rgb(0, 168, 232);
}

.heading-line::after {
  content: "";
  width: 2rem;
  height: 0.4rem;
  display: block;
  margin: 0 auto;
  background-color: rgb(0, 168, 232);
}

.article-icon-calender {
  color: lightgreen ;
}

.my-title {
  color: rgb(196, 199, 199);
  font-weight: bold;
}

.article-title {
  font-weight: bold;
  color: rgb(212, 208, 208);
}

.article-card {
  border: 1px solid #ddd; /* Add a border for visibility */
  border-radius: 0.5rem; /* Rounded corners */
  overflow: hidden; /* Prevent overflow */
}

.card-title {
  font-size: 1.2rem; /* Adjust title size */
}

.card-image {
  border-radius: 0.5rem; /* Optional: Add rounded corners */
}
