.myBackground {
    background-image: url("./images/sea-water-background.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.homeContainer {
    width: 100%;
    height: 92vh;
    background-color: #007ae7;
}

h1, h2 {
    color: #ffffff;
}

