.nav-bg {
  background: linear-gradient(to right, (rgb(0, 168, 232),
    rgb(0, 52, 89)));
  background-image: linear-gradient(to right, rgb(0, 168, 232), rgb(0, 52, 89));
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.navBrand {
  color: #ffffff !important;
  font-weight: bold;
  font-size: 1.5rem !important;
}

img.logo {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  padding: 0;
  margin: 0;
}

.myLink {
  color: #ffffff !important;
}

.myLink:hover {
  color: rgb(143, 143, 149) !important;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}


@media only screen and (max-width: 540px) {
  .nav-bg {
    direction: rtl;
  }
  .navBrand {
    color: #ffffff !important;
    font-weight: bold;
    font-size: 22px !important;
  }
}

@media only screen and (max-width: 280px) {
  .nav-bg {
    direction: rtl;
  }
  .navBrand {
    color: #ffffff !important;
    font-weight: bold;
    font-size: 12px !important;
    margin: 0 !important;
  }

  .logo{
    width: 30px !important;
    height: 30px !important;
  }
}




