.back-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.4s;
  }
  
  .back-to-top-button.show {
    opacity: 1;
  }
  
  .back-to-top-button button {
    background-color: rgb(0, 168, 232);
    color: white;
    border: none;
    padding: 9px 16px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .back-to-top-button button:hover {
    background-color: #0056b3;
  }
  