.f-icon {
    font-size: 1.5rem;
    padding: 8px 6px;
    color: rgb(255, 255, 255);
    transition: color 0.3s;
}

.f-icon:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.my-footer {
    background-image: linear-gradient(to right, rgb(0, 168, 232), rgb(0, 52, 89));
}

.author-link {
    color: white;
    transition: color 0.3s;
}

.author-link:hover {
    color: rgb(0, 0, 0);
}
