.social-media-icons {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 10px;
    color: #fff;
    background-color: #007bff;
    font-size: 20px;
    transition: background-color 0.3s;
  }
  
  .social-icon:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .social-media-icons {
      display: none; /* Hide the icons on small screens */
    }
  }
  